@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-50rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 100;
    transform: translateX(0rem);
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(50rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 100;
    transform: translateX(0rem);
  }
}

.homepage-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dark-shade);
}

.homepage-heading {
  font-size: 6rem;
  margin-bottom: 4rem;
  animation: moveToRight;
  animation-duration: 2s;
}

.homepage-subheading {
  font-size: 3rem;
  animation: moveToLeft;
  animation-duration: 2s;
}
