.page-template-container {
  padding: 3rem 6rem;
  overflow-y: auto;
}

.page-template-button-container {
  display: flex;
  flex-direction: row-reverse;
}

.page-template-edit-delete-container {
  margin-left: auto;
}

.page-template-create, .page-template-edit {
  margin-left: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.6rem;
  width: 50%;
  border: solid 1px black;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.card:hover {
  background-color: #ddd;
  cursor: pointer;
}

.card-name {
  max-width: 75%;
}

.card-button-container > button {
  margin-left: 1rem;
}
