.btn {
  padding: 1rem;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: translateY(1px);
}

.primary-btn {
  background-color: green;
  color: var(--light-shade);
}

.edit-btn {
  background-color: rgb(190, 190, 190);
  color: var(--light-shade);
}

.delete-btn {
  background-color: crimson;
  color: var(--light-shade);
}

.back-btn {
  background-color: white;
  border: solid 1px #444;
}
