.form-container {
  display: flex;
  justify-content: center;
}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color) !important;
  width: clamp(15rem, 30rem, 55rem);
  height: clamp(20rem, 40rem, 60rem);
  border-radius: 0.5rem;
  padding: 2.5rem;
}

.form-logo-box {
  height: 20%;
}

.form-heading {
  color: var(--light-shade);
}

.form-input {
  color: var(--light-shade);
  border: none;
  padding: .8rem;
  border-bottom: solid 0.8px var(--light-shade);
  width: 85%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.form-input:focus {
  outline: none;
}

.form-login-btn {
  width: 25%;
  padding: 0.8rem 1rem;
  border: none;
}

