.navigation-container {
  display: flex;
  height: 15vh;
  border-bottom: solid 0.6px rgba(85, 85, 85, 0.3);
  /* background-color: var(--dark-shade); */
  /* color: var(--light-shade); */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.navigation-cycle {
  margin-top: auto;
  margin-right: 2rem;
  padding-bottom: 1rem;
  /* border: solid 1px black; */
  background-color: inherit;
  /* color: var(--light-shade); */
  font-size: 2rem;
}

.navigation-profile {
  margin-top: auto;
  margin-left: auto;
  padding-bottom: 1rem;
}

.navigation-profile > * {
  margin: 0 2rem;
}
