.routine-page-days-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.routine-page-day {
  padding: 1rem;
  text-align: center;
  border: solid 1px black;
  flex-grow: 1;
}

.routine-page-day:hover {
  background-color: var(--primary-color);
}

.active-day {
  background-color: var(--primary-color);
}
